.navbar{
    background-color: #666 !important;
}

#product-list{
    margin: 25px 0;
}

.bootstrap-select{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: #666 !important;
    color: #ffffff;
    cursor: pointer;
}

.label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.grid{
    margin-top: 10px;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 7.1px 7.1px 16px 0 rgb(0 0 0 / 10%);
    text-align: center;
}
.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header{
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid rgb(255 186 0/81%);
}

.header h1{
    font-size: 28px;
}